[database]
url = "postgres://dokuru:secret@localhost:5432/dokuru_db"

[redis]
url = "redis://localhost:6379"

[auth]
access_secret = "change-me-access-secret-min-32-chars"
refresh_secret = "change-me-refresh-secret-min-32-chars"

[email]
resend_api_key = "your_resend_api_key_here"
from_email = "noreply@dokuru.rifuki.dev"
